[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
octodns-fastly = {editable = true, path = "."}

[dev-packages]
pytest = "==7.4.3"
black = "==23.1.0"
pylint = "==2.16.0"
isort = "==5.12.0"
flake8 = "==6.0.0"

[tool]
isort = {profile = "black", known_first_party = "octodns_fastly", known_octodns = "octodns", sections = "FUTURE,STDLIB,THIRDPARTY,OCTODNS,FIRSTPARTY,LOCALFOLDER"}
